.about {
    background-color: #FFE354;
    padding-top: 10%;
    padding-bottom: 10%;
}

.header {
    color: #ED8EB9;
    text-align: left;
    margin-left: 5%;
    font-family: 'Satisfy';
    margin-bottom: 1%;
    font-size: 96px;
}

.description {
    text-align: left;
    font-family: "Rambla";
    /* color: #7BC0F5; */
    color: #4525da;
    font-size: 24px;
    line-height: 1.75;
    margin: 0;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    position: relative;
}

.left {
    margin-left: 5%;
}

.profile-picture {
    margin: auto 25%;
}
