.project {
    background-color: #E270A4;
    padding-top: 10%;
    padding-bottom: 10%;
}

.project-feature-header {
    margin: 0;
    font-family: "Satisfy";
    font-size: 64px;
    color: #7BC0F5;
    text-align: center;
}

.project-feature-name {
    margin: 0;
    color: #FDFD96;
    font-family: "Satisfy";
    font-size: 64px;
    text-align: center;
}

.project-row {
    margin: auto;
    margin-top: 5%;
    display: table;
    width: 95%;
}

.project-column {
    display: table-cell;
}

.project-left {
    padding-right: 3%;
}

.project-right {
    vertical-align: top;
    padding-left: 3%;
}

.project-sutton-text {
    margin: 0;
    text-align: left;
    font-size: 24px;
    color: white;
    font-family: "Rambla";
}

.project-other-header {
    text-align: center;
    color: #FFB68C;
    font-family: "Satisfy";
    font-size: 64px;
    margin-top: 5%;
}

.project-first {
    margin: 5%;
}

.project-first-title {
    text-align: left;
    font-size: 64px;
    font-family: "Satisfy";
    color: #FDFD96;
    margin: 0;
}

.project-first-desc {
    color: white;
    font-size: 24px;
    font-family: "Rambla";

}

.project-skill-header {
    text-align: center;
    font-family: "Satisfy";
    font-size: 64px;
    color: white;
    margin: 0;
}

.project-skill-row {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.project-skill-col {
    flex: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 48px;
}

.project-web-icon {
    width: 50px;
}

.project-github-icon {
    width: 100px;
    fill: white;
}

.project-sutton-mobile {
    display: none;
}


@media only screen and (max-width: 1025px) {
    .project-feature-header {
        font-size: 94px;
    }

    .project-feature-name {
        font-size: 82px;
        width: 95%;
    }

    .project-row {
        display: block;
    }

    .project-column {
        display: block;
    }

    .project-sutton {
        display: none;
    }

    .project-sutton-mobile {
        display: block;
        width: 95%;
        margin: auto 2.5%;
    }

    .project-left {
        width: 100%;
        padding: auto;
    }

    .project-right {
        margin-top: 5%;
    }

    .project-web-icon {
        width: 100px;
        height: 150px;
    }

    .project-other-header {
        margin-bottom: 0%;
    }

    .project-github-icon {
        width: 150px;
    }

    .project-sutton-text {
        font-size: 36px;
    }

    .project-first-desc {
        font-size: 36px;
    }
}