.skill {
    background-color: blueviolet;
    padding-top: 10%;
    padding-bottom: 10%;
}

.skill-header {
    text-align: center;
    font-family: "Satisfy";
    font-size: 64px;
    color: white;
    margin: 0;
}

.skill-row {
    display: flex;
    width: 95%;
    /* The rules below are if the icons should not take as much horizontal space as well as centering it to the screen
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; */
} 

.skill-col {
    flex: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 48px;
}

.skill-HTML {
    fill: #FF8450;
}

.skill-CSS {
    fill: #29A9DF;
}

.skill-JS {
    fill: #FFDA3E;
}

.skill-react {
    fill: #00D8FF;
}

.skill-code {
    fill: #FF8450;
}

.skill-java {
    fill: #29A9DF;
}

.skill-git {
    fill: #F05033;
}

.skill-github {
    fill: black;
}

.skill-wordpress {
    fill: #00D8FF;
}